<script type="text/javascript">
    RED.nodes.registerType('ac-ir-decoder',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "",
        label: function() {
            return this.name||"ac-ir-decoder";
        }
    });
</script>

<script type="text/x-red" data-help-name="ac-ir-decoder">
    <p>A simple node convert ir code HVAC status</p>
    <pre>
    Input:
    {

        code_type:gc,
        code: "38000,1,1........",
    }
    Out:
    {
        code: "38000,1,1........",
        vendor: <vendor name>,
        model: <model name>,
        code_type:gc,
        power: <on|off>,
        mode: <auto|cool|heat|fan|powerful|....>,
        temp: <target temperature>,
        fan: <auto|quite|fan speed>,
        vane: <auto|swing|vane possition>,
        wide_vane: <auto|swing|vane position>,
        ......
    }
    </pre>
</script>